<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />



	<title>@ViewData["Title"]</title>
	<style>
		#ribbonDiv {
			width: 15%;
		}

    .organize {
    text-align: center;
    width: 100%;
    height: 100%;
    }

    .logo {
    height: 95%;
    float: right;
    top: 1px;
    margin-top: 2px;
    margin-right: 2px;
    }

    .universitylogo {
    height: 95%;
    float: right;
    top: 1px;
    margin-top: 2px;
    margin-right: 2px;
    }

    #button {
    text-align: inherit;
    }

    .welcome {
    height: 10%;
    text-align: left;
    border: 0px solid #000000;
    font-size: 20px;
    color: black;
    font-family: Calibri;
    font-weight: bold;
    }

    .tab {
    column-width: auto;
    width: 20%;
    text-align: left;
    border: 1.56px solid #000000;
    height: 5%;
    }

    .tab:hover {
    column-width: auto;
    width: 20%;
    background: #FFCB08;
    text-align: left;
    border: 1.56px solid #000000;
    height: 5%;
    }

    .tab a {
    font-size: 20px;
    color: black;
    font-family: Calibri;
    font-weight: bold;
    text-decoration: none;
    }

    .ribbon {
    background-color: rgb(176,176,176);
    border-collapse: collapse;
    height: 100%;
    border: 1.56px solid #000000;
    }
    
    body {
        margin-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        background: #F7F5F2;
    }
    #button {
    text-align: inherit;
    }

    td {
    text-align: left;
    }

    p {
    margin-bottom: .25em;
    margin-top: .25em;
    }
    .setup{
    display: none;
    flex-wrap: nowrap;
    flex-direction: column;
    overflow: auto;
    background-color: #E0E0E0;
    border: 1px solid black;
    position: fixed;
    bottom: 10%;
    top: 10%;
    left: 10%;
    width: 80%;
    }

    .confirmation{
    display: none;
    flex-wrap: nowrap;
    flex-direction: column;
    overflow: auto;
    background-color: #E0E0E0;
    border: 1px solid black;
    position: fixed;
    bottom: 10%;
    top: 10%;
    left: 10%;
    width: 80%;
    }

    .topRow{
    flex: 10%;
    max-height: 10%;
    background-color: black;
    }
    .topRow img{
    float: right;
    }

    .searchRow{
    flex: 10%;
    max-height: 10%;
    padding: 15px 100px;
    }

    .resultRow{
    flex: 60%;
    overflow-y:scroll; 
    overflow-x: auto; 
    height: 200px;
    overflow: auto;
    }

    .buttonRow{
    flex: 10%;
    max-height: 10%;
    }

    .continue{
    cursor: pointer;
    position: absolute;
    left: 45%;
    width: 100px;
    }

    .addTemplate{
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 235px;
    width: 100px;
    }

    .closeButton {
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 30px;
    width: 100px;
    }

    .browse{
    overflow-x: hidden;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 30px;
    width: 200px;
    }


    #poptable{
    position: absolute;
    overflow: auto;
    left: 5%；
    top: 25%;
    width: 100%;
    }
    #colSet{
    overflow: auto;
    text-align: left;
    padding: 8px;
    }
    #radioSet{
    text-align: right;
    }
    #poptable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    width: 25%;
    }
  </style>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script>
	</script>



</head>
<body class="organize">
	<div id="banner" style="height: 10%; width:100%; position: absolute; top: 0; left: 0; background: #000000;">
		<img class="universitylogo" src="../../superior_logo.jpg" />
		<img class="logo" src="../../logo.jpg" />
	</div>
	<div id="ribbonDiv" style="height: 100%; position: absolute; top: 0; left: 0">
        <table class="ribbon">
            <tr>
                <th class="welcome" scope="row">Welcome<br />_________</th>
            </tr>
            <tr>
                <th class="tab" scope="row"> @Html.ActionLink("Search", "Search", new { controller = "Search" })</th>
            </tr>
            <tr>
                <th class="tab" scope="row"> @Html.ActionLink("Add Client", "AddClient", new { controller = "AddClient" })</th>

            </tr>
            <tr>
                <th class="tab" scope="row"> @Html.ActionLink("Add User", "AddUser", new { controller = "AddUser" })</th>
            </tr>
            <tr>
                <th class="tab" scope="row"> @Html.ActionLink("About", "About", new { controller = "About" })</th>
            </tr>
            <tr>
                <th scope="row" rowspan="2" height="50%">&nbsp;</th>
            </tr>
            <tr>
            </tr>
            <tr>
                <form>
                    <th class="tab" scope="row">@Html.ActionLink("Logout", "Login", new { controller = "Login" }, new { onclick = "return confirm('Are sure want to Logout?');" })</th>
                </form>
            </tr>
        </table>
	</div>



	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@RenderSection("Scripts", required: false)
</body>
</html>
